<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ASP.NET Zero NuGet Source" value="https://nuget.aspnetzero.com/2fbd29d15df74cf58cb86b5bea46ca7b/v3/index.json" />
  </packageSources>
</configuration>
